<div class="col-md-offset-2 col-md-8">
	 <h2>Menu information Utilisateur</h2>
	 <form class="form-horizontal">
	 	<div class="form-group">
	 	<label class="col-sm-2 control-label"> Id :</label>
        <label class="col-sm-2 control-label"> {{user.id}}</label>	
	 	</div>
	 	<div class="form-group">
	 	<label class="col-sm-2 control-label"> Nom :</label>
        <label class="col-sm-2 control-label"> {{user.nom}}</label>	
	 	</div>
	 	<div class="form-group">
	 	<label class="col-sm-2 control-label"> Prenom :</label>
        <label class="col-sm-2 control-label"> {{user.prenom}}</label>	
	 	</div>
	 	<div class="form-group">
	 		<a href="/"><button class="btn btn-danger"><i class="fa fa-arrow-left"></i> Retour</button></a>
	 	</div>
	 </form>

</div>